<style>

.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper button {
	text-decoration: none;
	display: inline-block;
	font-size: 22px;
	 margin-left:-11px;
	color: #c3c3c3;
        background-color: transparent;
        border:none;
}
.ec-stars {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars a {
	text-decoration: none;
	display: inline-block;
	font-size: 22px;
	 margin-left: -20px;
	color: #c3c3c3;
}

.ec-stars-wrapper:hover button {
	color:#B71C1C;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > button:hover ~ button {
	color: #c3c3c3;
}
</style> 
 
<div ng-controller="catalogoController">
   
<div class="crosscover-2">
 </br>
        <div class="crosscover-island">
            </br>
            <img src="../public/images/logo.png" class="responsive-img" width="300px"></br>
            </br>
            <img src="./images/texto.png" class="responsive-img" width="70%">
            <input type="text" id="buscar" style="padding-left: 46px;background-color: #FFFFFF; border:6px solid #B71C1C; border-radius: 10px; width:50%; color:#000000; " ng-model= "filtro" >
        </div>
   
  
</div>
    <div class="row  red darken-4" >
       <div class="col s12" style="height:40px;">         
                <div>                    
                     <ul class="tabs-min">
                       <li ng-repeat="categoria in Categorias" class="left item">
                        <a href="javascript:;" ng-click="loadSubCategoria(categoria.id)" style=" color:#FFFFFF;">{{categoria.nombre}}</a>
                        </li>
                    </ul> 
                </div>
          
         </div>
     </div>
                      
        <div class="row" style="padding:20px">
        	<div class="col s2 z-depth-1 red darken-1" ng-hide="mostrar" style="padding: 10px;">
        		<table>
        			<tr>
                                <th><h2 style="color:#FFFFFF;font-weight:900">Categorias</h2></th>
        			</thead>
        			<tbody>
                                   
        				<tr  ng-repeat="subCategoria in subCategorias">
        					<td>
        						<a  href="javascript:;" ng-click="loadProductos(subCategoria.id)" style="padding-top:3px;padding-bottom:3px;color:#FFFFFF;">{{subCategoria.nombre}}</a>
        					</td>
        				</tr>
                                    
        			</tbody>
        		</table>
        	</div>
        	<div class="col s10" ng-hide="mostrarProductos">
                <div class="col s3" ng-repeat="producto in Productos | filter: filtro"  >
                    <div class="card">
                        <div class="card-image" ng-click = "detallesProducto(producto)">
                            <img src="{{producto.ruta}}" alt="">
                        </div>
                        <div class="card-content">
                           
                                <h2>{{producto.nombre}}&nbsp;{{producto.nombreMarca}}</h2>                  
                               <div class="descripcion">
                                   <i class="used">{{producto.descripcion | limitTo: 30 }}{{myString.length > 30 ? '...' : ''}}</i>
                               </div>                            
                          
               
                        </div>
                        <div class="card-action row">
                           <div class="col s7 ec-stars" style="margin-top:-10px;text-align:left">
                                    <a ng-if="producto.calificacion >= 1" href="javascript:;" data-value="1"  >&#9733;</a>
                                    <a ng-if="producto.calificacion >= 2"  href="javascript:;" data-value="2"  >&#9733;</a>
                                    <a ng-if="producto.calificacion >= 3"  href="javascript:;" data-value="3"  >&#9733;</a>
                                    <a ng-if="producto.calificacion >= 4"  href="javascript:;" data-value="4"  >&#9733;</a>
                                    <a ng-if="producto.calificacion >= 5"  href="javascript:;" data-value="5"  >&#9733;</a>
                            </div>

                           
                             <span class="col s5 price" style="text-align: right">{{ producto.precio | currency}}</span>
                              <div class="col s8 ec-stars-wrapper" style="text-align: left;margin-left:-15px">
                               
                                    <button data-value="1" ng-click="votar(producto.id,1,producto.calificacion)"  >&#9733;</button>
                                    <button  data-value="2" ng-click="votar(producto.id,2,producto.calificacion)" >&#9733;</button>
                                    <button  data-value="3" ng-click="votar(producto.id,3,producto.calificacion)" >&#9733;</button>
                                    <button  data-value="4" ng-click="votar(producto.id,4,producto.calificacion)" >&#9733;</button>
                                    <button  data-value="5" ng-click="votar(producto.id,5,producto.calificacion)" >&#9733;</button>
                            </div>
                        </div>
                    </div>  
                            
                      
                   
                
        	</div>
        </div>
	</div>
    <div class="modal" id="modalDetalles" style="width: 90%;min-height:85%;">
        <div class="modal-content">

              <div class="fixed-action-btn" style="top:10px; right: 24px;">
			<a class="btn-floating btn-small modal-close waves-effect waves-light red right" >
				<i class="material-icons">close</i>
			</a>
		</div>
              
            <div class="row">
                <div class="col s5">
                    <img src="{{Producto.ruta}}" width="100%" alt="">
                </div>
                <div class="col s7">
                    <h4>
                        {{Producto.nombre}} {{Producto.nombreMarca}}
                    </h4>
                    <p>
                        <img src="{{Producto.rutaMarca}}" width="100px;">
                    </p>
                    <p>
                        <i class="material-icons left">insert_comment</i><span style="font-weight:600">Descripicion: </span> {{Producto.descripcion}}
                    </p>
                    <p>
                       <i class="material-icons left">redeem</i> <span style="font-weight:600">Presentaciòn: </span> {{Producto.presentacion}}
                    </p>
                    <p>
                      <i class="material-icons left">attach_money</i> <span style="font-weight:600">Precio: </span> {{Producto.precio | currency}}
                    </p>
                    <form action="" name="frmValid">
                    <div class="row">
                        <div class="col s2">
                          <span style="font-weight:600">Cantidad: </span>
                                <input id="cantidad" type="text" name="cantidad" ng-model="Pedido.cantidad" value="1"  required
                                       ng-class="{invalid:!frmValid.$pristine && frmValid.cantidad.$error.required || frmValid.cantidad.$error.pattern}" ng-pattern="/^[0-9]*$/">
                        	<small><span class="red-text" ng-show="!frmValid.cantidad.$pristine  && frmValid.cantidad.$error.pattern">Solo Números</span></small>
                        </div>
                        
                    </div>
                    </form>
                    <div class="col s6">
                        
                             <a href="javascript:;" class="waves-effect waves-light btn orange" ng-click="agregarCarrito(Producto)"><i class="material-icons left">add_shopping_cart</i>Agregar al Carrito</a>
                        </div>
                    
                    <div class="col s6">
                        <a href="javascript:;" ng-click="compartirProducto(Producto)" class="btn" style="background-color:#3B5998;"><i class="material-icons left">share</i>Compartir</a>
                    </div>
                     
                </div>
            </div>
        </div>

    </div>
    </div>
    <script>
        
    $(document).ready(function(){
        $('ul.tabs').tabs();
   
    });
    
 
          function compartirProducto(){ 
             var e = document.createElement('script');
                e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
                e.async = true;
                document.getElementById('fb-root').appendChild(e);
                    FB.ui(
                    {
                    method: 'feed',
                    name: '¿Te interesa generar un ingreso extra?',
                    link: 'http://www.gflarocaferreteria.com/cliente/#/clientes/trabajaConNosotros',
                    picture: 'http://www.gflarocaferreteria.com/public/images/logoSocial.png',
                    caption: 'VENDE A TUS CLIENTES Y GANA CON NOSOTROS',
                    description: 'Te damos la oportunidad de vender a tus propios clientes y de ganar como Vendedor Independiente, ofreciendo nuestros productos de alta calidad.',
                    message: ''
                    });   
                }
  
    </script>