<div class="crosscover-2">
 </br>
        <div class="crosscover-island">
            </br>
            <img src="../public/images/logo.png" class="responsive-img" width="300px"></br></br></br>
            <img src="./images/servicios/text.png" class="responsive-img" width="70%">
            
        </div>
   
  
</div>
<div ng-controller="serviciosController">
    <div class="container">
        <div class="col s12">
            <div class="white z-depth-1" ng-repeat="servicio in Servicios | filter: filtro" style="margin-top:10px;margin-bottom:20px;padding:40px;">
                </br>
                <center> <h2 style="font-weight: 900">{{servicio.nombre}}</h2></center>
                </br>
                <center><img src="{{servicio.ruta}}?dummy=8484744" style="padding:0;margin: 0;" alt="" /></center>
                </br>
                <div align="justify">{{servicio.descripcion}}</div>
                </br>
                       <div class="col s12" style="text-align: right;">
                       
                               <a href="javascript:;" class="waves-effect waves-light btn red" ng-click="solicitarServicio(servicio)"><i class="material-icons left">event_seat</i>Solicitar Servicio</a>
                         
                       </div>
            </div>
      
        </div>
    </div>


 <div class="modal" id="modalRegistro" style="width: 90%;min-height:85%;">
        <div class="modal-content">

              <div class="fixed-action-btn" style="top:10px; right: 24px;">
			<a class="btn-floating btn-small modal-close waves-effect waves-light red right" >
				<i class="material-icons">close</i>
			</a>
		</div>
            <h2>Solictud de Serivicio</h2>
           
	<div class="container white z-depth-1" style="padding: 20px;margin-top: 58px;margin-bottom: 20px;">
            <div class="row">
                  <div class="col s6">
                       <center> <h2 style="font-weight: 900">{{servicioSolicitado.nombre}}</h2></center> 
                       </br> <center><img src="{{servicioSolicitado.ruta}}?dummy=8484744" width="100%" style="padding:0;margin: 0;" alt="" /></center> 
                      <div align="justify">{{servicioSolicitado.descripcion}}</div>
                  </div>
       <div ng-controller="clientesController" class="col s6">
     
                <h2><i class="material-icons left">account_circle</i>Registro de cliente</h2>
		<form action="" name="frmClientes">	 		
	    	<div class="row">
	    		<div class="col s11">
	    			<div class="input-field">
						<input id="cedula" name="cedula" type="text" ng-model="Cliente.cedula" required
						ng-class="{invalid:!frmClientes.$pristine && frmClientes.cedula.$error.required || frmClientes.cedula.$error.pattern}" ng-pattern="/^[0-9]*$/" ng-minlength="6" ng-blur="buscar()">
						<label for="cedula" class="{{active}}">Cédula</label>
						<small><span class="red-text" ng-show="!frmClientes.$pristine && frmClientes.cedula.$error.required">Cédula Es Obligatorio.</span></small>
						<small><span class="red-text" ng-show="!frmClientes.cedula.$pristine && frmClientes.cedula.$error.pattern">Solo Números</span></small>
						<small><span class="red-text" ng-show="!frmClientes.$pristine && frmClientes.cedula.$error.minlength">Mínimo 6 Caracteres.</span></small>
					</div>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col s11">
	    			<div class="input-field">
						<input id="nombres" type="text" name="nombres"  ng-model="Cliente.nombres" required 
						ng-class="{invalid:!frmClientes.$pristine && frmClientes.nombres.$error.required}">
						<label for="nombres" class="{{active}}">Nombres</label>
						<small><span class="red-text" ng-show="!frmClientes.$pristine && frmClientes.nombres.$error.required">Nombres Es Obligatorio.</span></small>
					</div>
	    		</div>
                </div>
                <div class="row">
	    		<div class="col s11">
	    			<div class="input-field">
						<input id="apellido" name="apellido" type="text" ng-model="Cliente.apellidos" required ng-class="{invalid:!frmClientes.$pristine && frmClientes.apellido.$error.required}">
						<label for="apellido" class="{{active}}">Apellidos</label>
						<small><span class="red-text" ng-show="!frmClientes.$pristine && frmClientes.apellido.$error.required">Apellidos Es Obligatorio.</span></small>
					</div>
	    		</div>
	    	</div> 
	    	<div class="row">
	    		<div class="col s11">
	    			<div class="input-field">
						<input id="direccion" name="direccion" type="text" ng-model="Cliente.direccion" required ng-class="{invalid:!frmClientes.$pristine && frmClientes.direccion.$error.required}">
						<label for="direccion" class="{{active}}">Dirección</label>
						<small><span class="red-text" ng-show="!frmClientes.$pristine && frmClientes.direccion.$error.required">Dirección Es Obligatorio.</span></small>
					</div>
	    		</div>
                   </div>
                    	<div class="row">
	    		<div class="col s11">
	    			<div class="input-field">
						<input id="telefono" type="text" name="telefono" ng-model="Cliente.telefono" required ng-class="{invalid:!frmClientes.$pristine && frmClientes.telefono.$error.required || frmClientes.telefono.$error.pattern}" ng-pattern="/^[0-9]*$/" ng-minlength="7">
						<label for="telefono" class="{{active}}">Teléfono</label>
						<small><span class="red-text" ng-show="!frmClientes.$pristine && frmClientes.telefono.$error.required">Teléfono Es Obligatorio.</span></small>
						<small><span class="red-text" ng-show="!frmClientes.telefono.$pristine && frmClientes.telefono.$error.pattern">Solo Números</span></small>
						<small><span class="red-text" ng-show="!frmClientes.$pristine && frmClientes.telefono.$error.minlength">Mínimo 7 Caracteres.</span></small>
					</div>
	    		</div>	    		
	    	</div>
	    	<div class="row">
	    		<div class="col s11">
	    			<div class="input-field">
						<input id="correo" type="email" name="correo" ng-model="Cliente.correo" required ng-class="{invalid:!frmClientes.$pristine && frmClientes.correo.$error.required || frmClientes.correo.$error.email }">
						<label for="correo" class="{{active}}">Correo</label>
						<small><span class="red-text" ng-show="!frmClientes.$pristine && frmClientes.correo.$error.required">Correo Es Obligatorio.</span></small>
						<small><span class="red-text" ng-show="!frmClientes.correo.$pristine && frmClientes.correo.$error.email">Correo No Valido</span></small>
					</div>
	    		</div>
                </div>

	    	<input type="button" class="waves-effect waves-light btn orange" ng-click="solicitudServicio(Cliente)" value= "Solicitar" ng-disabled="!frmClientes.$valid">
	    	
		</form>	
	</div>
  
                
            </div>
        </div>
          
           
            </div>
  </div>
</div>






